<section class="min-h-screen bg-gradient-to-br from-[#1f1c2c] to-[#928dab] py-10 px-4 flex justify-center items-center">
  @if(isLoading){
  <app-loading></app-loading>
  }@else {
  <div
    class="w-[90%] md:w-[80%] lg:w-[70%] mx-auto bg-gradient-to-br from-[#2a2d4a] to-[#5a5c7a] rounded-xl shadow-xl p-6 mt-10 text-white">
    <figure class="flex flex-col lg:flex-row gap-6 items-center">

      <!-- Poster -->
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title"
        class="w-full lg:w-[35%] rounded-xl shadow-md object-cover" />

      <!-- Details -->
      <figcaption class="flex-1">
        <h1 class="text-3xl md:text-4xl font-bold mb-4">{{ movie.title }}</h1>

        <p class="mb-2 text-sm md:text-base"><span class="opacity-70">🗓️ Release:</span> {{ movie.release_date }}</p>
        <p class="mb-2 text-sm md:text-base"><span class="opacity-70">⭐ Rating:</span> {{ movie.vote_average }}</p>

        <p class="mb-4 text-gray-200 leading-relaxed text-sm md:text-base">
          {{ movie.overview }}
        </p>

        <button (click)="goBack()"
          class="mt-4 cursor-pointer inline-block bg-purple-600 hover:bg-purple-500 transition px-5 py-2 rounded-full text-white font-semibold shadow-lg">
          Go Back
        </button>
      </figcaption>
    </figure>
  </div>

  }

</section>
